

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Encontre-nos</h4>
                            <span>Fatec Sorocaba, v. Eng. Carlos Reinaldo Mendes, 2015 - Além Ponte, Sorocaba - SP,</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Nosso Contato</h4>
                            <span>(15) 991264790</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Nosso Email</h4>
                            <span>contato.priceowl@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="../../../assets/images/LOGO.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>
                                PriceOwl , uma ferramenta de cotação de preços para valorizar o dinheiro do consumidor final , mostrando as melhores ofertas disponiveis no mercado enquanto conecta seus usuarios a uma grande variedade de lojas.

                            </p>
                        </div>
                        <div class="footer-social-icon">
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Owlet</h3>
                        </div>
                        <ul>
                         <img src="../../../assets/icons/icon-192x192.png" alt="">
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Sobre Owlet</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>O mascote do Price Owl é uma coruja, pois está associada a visão ampliada, confiança e acessibilidade. A coruja destaca-se como ícone noturno que guia consumidores na busca por ofertas. Sua presença constante reforça a ideia de um serviço confiável, enquanto o apelo estético e memorável contribui para uma identidade única no mercado.</p>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Price Owl 2023 - TCC</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a routerLink="/about-us">Sobre Nós</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

