<div class="container ">
    <div class="owl'"><img src="../../../assets//icons/icon-128x128.png" alt=""></div>
    <div class="card-login">
        <button type="button" class="btn btn-danger" data-bs-toggle="button" (click)="closeModal('custom-modal-3');" autocomplete="off">X</button>
        <h2 style="padding: 8px">Recuperar Senha</h2>
        
      <form class="formOwl" action="">     
        <p>Digite o email para recupereção de Senha</p>
    <div class="input-container">
        <input placeholder="Email" class="input-field" type="email">
        <label for="input-field" class="input-label">Email</label>
        <span class="input-highlight"></span>
      </div>
       <button class="btnOwl" type="submit">Entrar</button>
    </form>
</div>
</div>

