<h2 style="text-align:center">Nossa Equipe</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../assets/images/kaique.png" alt="Kaique" style="width:100%">
      <div class="container">
        <h2>Kaique Alves Mesquita</h2>
        <div class="logobox">
          <a href="https://www.instagram.com/kaiq.ueam/" target="_blank"><img class="logo"
              src="../../../assets/images/instagram-logo.png" alt=""></a>
          <a href="https://github.com/Kaichot" target="_blank"><img class="logo"
              src="../../../assets/images/github-logo.png" alt=""></a>
        </div>

        <p>Gosto de futebol, de ler, desenhar e programar. </p>
        <p><img class="logo" src="../../../assets/images/gmail-logo.png" alt=""> kaiquealvesmesquita@gmail.com</p>
      
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src= "https://i.imgur.com/yxrMpBf.jpg" alt="Gustavo"
        style="width:100%">
        
      <div class="container">
        <h2>Gustavo Germano Lemos Pereira</h2>
        <div class="logobox">
          <a href="https://www.instagram.com/gu_glp/?hl=pt-br" target="_blank"> <img class="logo"
              src="../../../assets/images/instagram-logo.png" alt=""> </a>

          <a href="https://github.com/GustavoGermanoL" target="_blank"> <img class="logo"
              src="../../../assets/images/github-logo.png" alt=""> </a>

          <a href="https://www.linkedin.com/in/gustavo-germano-83b63b258/" target="_blank"> <img class="logo"
              src="../../../assets/images/linkedin-logo.png" alt=""> </a>

        </div>
        <p> Gosto de treinar , ler , assistir e jogar bola , eu sou muito Santos. </p>
        <p><img class="logo" src="../../../assets/images/gmail-logo.png" alt=""> gustavo.germano081105@gmail.com </p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/280x280_RS/77/0f/b7/770fb75f5e81e4c2dbe8934f246aeeab.jpg" alt="Lucas" style="width:100%">
      <div class="container">
        <h2>Lucas Feitosa Almeida Rocha</h2>
        <div class="logobox">
          <a href="https://github.com/LucasFARocha" target="_blank"><img class="logo" src="../../../assets/images/github-logo.png" alt="Lucas"></a>
        </div>
        <p>Gosto de programação, astronomia e ciência no geral</p>
        <p><img class="logo" src="../../../assets/images/gmail-logo.png" alt="">feitosalucas110@gmail.com</p>
       
      </div>
    </div>
  </div>



  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/280x280_RS/77/0f/b7/770fb75f5e81e4c2dbe8934f246aeeab.jpg" alt="José" style="width:100%">
      <div class="container">
        <h2>José Roberto Lisboa da Silva Filho</h2>
        <p class="title">Gosto de desenvolver soluções, criar e jogar.</p>
        <div class="logobox">
          <a href="https://github.com/Proceed15" target="_blank"><img class="logo" src="../../../assets/images/github-logo.png" alt="José"></a>
        </div>
        <p><img class="logo" src="../../../assets/images/gmail-logo.png" alt="">jlisboa1375@gmail.com</p>
     
      </div>
    </div>
  </div>
</div>
